 @charset "utf8";

 html{
     box-sizing: border-box;
 }

 *{
    box-sizing: inherit;
 }

 body{
     margin: 0px;
     padding: 0px;
 }

 .image-list{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px,1fr ));
     grid-auto-rows: 10px;
     grid-gap:0px 10px
 }
 
 .images-list img{
     width: 250px;
 }